@charset "UTF-8";

/*!
 * css reset common v8.0.1   |   20211015 (beta)
 *
 * Include: _reset.css
 * Include: layout.css
 *
 * Copyright on 2013 - 2021 Hwang mi-ran, All right reserved.
 * Reference: Eric Meyer reset(http://meyerweb.com/eric/tools/css/reset/)
 * ran_work@wdcals.co.kr
 * miran@kakao.com
 * License: none
 *
 * Please do not remove the comment(sourcecode is allowed to be edited and redistributed)
 * when source code edited, Please change file name.
 *
 * Last Update. 2021-10-15
 */

/*  Initialize the blank space for Elements --------------------------------------------------------------------- */
	/* Definition of The blank space (for the basic element) */
	html, body, div, span, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, a,
	blockquote, p, address, pre, cite, form, fieldset, legend, label, input, textarea, select,
	figure, figcaption, details, table, th, td, section, article, aside, footer, header, menu, nav, hgroup{
		-webkit-box-sizing: border-box;	/* Sfari and Chrome, other webkit surpport */
		-moz-box-sizing: border-box;	/* FireFox and other Gecko surpport */
		box-sizing: border-box;			/* Opera and IE8+ surpport */
		margin: 0; padding: 0;
	}
	:after,:before{box-sizing: border-box;}

	/* Link Element */
	a{vertical-align: top; text-decoration: none;}

	/* Accessibility */
	.a11y:not(.bldVoice){color: transparent; font-size: 0; line-height: 0;}
	.a11y.bldVoice{width: 1px; height: 1px; clip: rect(1px 1px 1px 1px); position: absolute;}
	.a11y>a{display: inline;}
	a:not(.a11y){display: inline-block;}
	a.a11y{display: block;}
	a.a11y.voiceInfo{width: 0; height: 0; text-indent: -9999px; display: block; position: absolute; left: -9999px; overflow: hidden;}



/* Tag Layout Initialize ---------------------------------------------------------------------------------------- */
	/* Form Elements */
	button{font-family: inherit; white-space: nowrap; border: none; overflow: visible; cursor: pointer;}
	button, input, optgroup, select, textarea{font-family: inherit; font-size: inherit; line-height: inherit;}
	input[type="button"]{-webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; -o-appearance: none; appearance: none;}

	/* Title Elements */
	h1, h2, h3, h4, h5, h6{font-size: 100%; font-weight: normal;}

	/* Line Elements */
	hr{display: none;}

	/* Outline Elements */
	fieldset, img, abbr,acronym{border: 0 none;}
	img[usemap]{width: auto; max-width: 100%; height: auto; border: none;}

	/* List Elements */
	ol, ul{list-style: none;}

	/* Table Elements */
	table{table-layout: fixed;}
	table, tbody, tfoot, thead, tr, th, td{border-collapse: collapse; border-spacing: 0;}
	caption, th, td{font-weight: normal;}
	table caption.a11y{line-height: 0;}

	/* Text-related Elements */
	address, strong, em, cite{font-weight: normal; font-style: normal;}
	ins{text-decoration: none;}
	del{text-decoration: line-through;}

	/* Quotes Elements */
	blockquote:before, blockquote:after, q:before, q:after{content:"";}
	blockquote,q{quotes:"" "";}

	/* Hidden Elements */
	legend, .hidden{/*width: 1px; height: 1px; */ color: transparent; font-size: 0; line-height: 0; overflow: hidden; visibility: hidden; display: none;}



/* Functional Initialize ---------------------------------------------------------------------------------------- */
	.no-drag{-ms-user-select: none; -moz-user-select: -moz-none; -webkit-user-select: none; -khtml-user-select: none; user-select:none;}



/* HTML5 Element surpport --------------------------------------------------------------------------------------- */
	section, article, aside, footer, header, main, menu, nav, hgroup, figure, figcaption, details, summary{display:block;}
