* {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    transition: background .1s;
}
button:hover {
    cursor: pointer;
}
.scroll::-webkit-scrollbar {
    width: 0.2627vw;
    background-color: #2d3342;
    border-radius: 100px;
}
.scroll::-webkit-scrollbar-thumb {
    background: #5d626d;
    border-radius: 100px;
}
.scroll::-webkit-scrollbar,
.scroll::-webkit-scrollbar-thumb {
    overflow: visible;
}
.scrollBar {
    position: absolute;
    top: 0;
    width: 0.2627vw;
    height: 100%;
    opacity: 1;
    transition: opacity .1s;
}
:hover + .scrollBar {
    opacity: 0;
}

/* 인트로 페이지 */
.loading_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.loading_page img {
    opacity: 0;
    animation: logo 2s both;
}
@keyframes logo {
    100% {
        opacity: 1;
    }
}
.loading_page h1 {
    font-size: 25px;
    font-weight: 100;
    color: #050c14;
    margin: 46px 0;
}
/* 로더 */
.loader {
    position: relative;
    width: 76px;
    height: 76px;
    opacity: 0;
    animation: loader 1s both;
    animation-delay: 5s;
}
@keyframes loader {
    100% {
        opacity: 1;
    }
}
.loader .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    background: #fff;
    border-radius: 100%;
    z-index: 2;
}
.loader .bar {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ececec;
    /* -webkit-border-radius: 100%; */
    border-radius: 100%;
    clip: rect(0px, 76px, 76px, 38px);
    margin: 0;
    padding: 0;
}
.loader .bar .progress {
    position: absolute;
    width: 100%;
    height: 100%;
    /* -webkit-border-radius: 100%; */
    border-radius: 100%;
    clip: rect(0px , 38px, 76px, 0px);
    background: #f27214;
    z-index: 1;
}
.loader .left .progress {
    animation: left 3s 5s linear both;
}
@keyframes left {
    100% {
        transform: rotate(180deg);
    }
}
.loader .right {
    transform: rotate(180deg);
}
.loader .right .progress {
    animation: right 3s linear both;
    animation-delay: 8s;
}
@keyframes right {
    100% {
        transform: rotate(180deg);
    }
}

/* 메인 페이지 */
.main_page header {
    position: relative;
    width: 26.9574vw;
    height: 50.9196vw;
    z-index: 1;
}
/* 메인 페이지 메뉴 */
.main_page nav {
    display: flex;
}
.main_page nav .nav_left {
    width: 12.9270vw;
}
.main_page nav .nav_right {
    width: 14.0305vw;
}
.main_page nav .logo {
    margin-top: 1.8917vw;
    margin-left: 2.6274vw;
}
.main_page nav .logo img {
    width: 7.0941vw;
}
.main_page nav .sub_menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 3.6784vw;
}
.main_page nav .sub_menu button {
    display: flex;
    align-items: center;
}
.main_page nav .sub_menu .facebook {
    width: 12px;
    height: 19px;
    background-image: url(../images/icon/facebook_icon.png);
    background-position: center;
    background-size: 100%;
    background-color: transparent;
    border: none;
}
.main_page nav .sub_menu .facebook:hover {
    background-image: url(../images/icon/facebook_icon_on.png);
}
.main_page nav .sub_menu img {
    /* width: 12px; */
}
.main_page nav .language {
    margin-left: 1.0510vw;
}
.main_page nav .language button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.3121vw;
    height: 1.7867vw;
    font-size: 13px;
    color: #fff;
    background: #9dc912;
    border: none;
}
.main_page nav .language button:hover {
    background: #9abe0a;
}
.main_page nav .nav_right ul {
    padding-right: 1.8392vw;
}
.main_page nav .top_menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 13px;
    margin-top: 0.8933vw;
}
.main_page nav .top_menu li:not(:last-child) {
    margin-right: 15px;
}
.main_page nav .top_menu a {
    display: flex;
    align-items: center;
    transition: all .1s;
}
.main_page nav .top_menu a:hover {
    color: #9dc912;
}
.main_page nav .myPageIcon {
    width: 12px;
    height: 13px;
    margin-right: 5px;
    background-image: url(../images/icon/myPage_icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    transition: background .1s;
}
.main_page nav li:last-child a:hover .myPageIcon {
    background-image: url(../images/icon/myPage_icon_on.png);
}
.main_page nav .main_menu {
    text-align: right;
    /* font-size: 20px; */
    font-size: 1.051vw;
    margin-top: 6.3058vw;
}
.main_page nav .main_menu li:not(:last-child) {
    margin-bottom: 1.7867vw;
}
.main_page nav .main_menu a {
    transition: color .1s;
}
.main_page nav .main_menu a:hover {
    color: #f27214;
}

/* 메인 페이지 공모 정보박스 */
.main_page .compt_infoBox {
    display: flex;
    position: absolute;
    bottom: 0;
    bottom: -7.1992vw;
    left: 4.5717vw;
    color: #fff;
}
/* 메인 페이지 공모 마감일정 */
.main_page .compt_infoBox .d_day {
    position: relative;
    /* width: 22.3857vw; */
    width: 22.6484vw;
    padding-top: 3.6784vw;
    background: #232937;
    border-bottom: 5.2549vw solid #232937;
}
.main_page .compt_infoBox .dDay_list {
    position: relative;
    height: 22.701vw;
    overflow-y: scroll;
    margin: 0 0.5255vw;
}
.main_page .compt_infoBox .d_day .scrollBar {
    right: 0.5255vw;
    background: #232937;
}
.main_page .compt_infoBox .dDay_list li {
    position: relative;
    padding: 2.6274vw 2.1019vw;
}
.main_page .compt_infoBox .dDay_list li:first-child {
    padding-top: 0;
}
.main_page .compt_infoBox .dDay_list li::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 2.1019vw;
    width: 2.8376vw;
    height: 3px;
    background: #fff;
}
.main_page .compt_infoBox .dDay_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main_page .compt_infoBox .dDay_title h3 {
    font-size: 2.1019vw;
    color: #ff9f59;
}
.main_page .compt_infoBox .dDay_title span {
    font-size: 0.7882vw;
    color: #f4ffe5;
}
.main_page .compt_infoBox .dDay_title strong {
    color: #ff9f59;
    margin-right: 0.6831vw;
}
.main_page .compt_infoBox .d_day p {
    font-size: 1.0510vw;
    margin-top: 2.1019vw;
}
.main_page .compt_infoBox .d_day button {
    position: absolute;
    top: -1.5765vw;
    right: 0;
    width: 3.1529vw;
    height: 3.1529vw;
    background: #a5cb0b;
    border: none;
}
.main_page .compt_infoBox .d_day button:hover {
    background: #9abe0a;
}
.main_page .compt_infoBox .d_day button img {
    width: 1.5765vw;
}
/* 메인 페이지 공모 우승팀 */
.main_page .compt_infoBox .winner {
    position: relative;
    width: 36.6789vw;
    padding: 3.4157vw 3.1529vw;
    background: rgba(35, 41, 55, 0.7);
    border-bottom: 7.3568vw solid #232937;
}
.main_page .compt_infoBox .winner a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.main_page .compt_infoBox .winner h2 {
    font-size: 2.5223vw;
    transition: color .1s;
}
.main_page .compt_infoBox .winner_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main_page .compt_infoBox .winner p {
    /* font-size: 0.9459vw; */
    font-size: 18px;
}
.main_page .compt_infoBox .goWinner_btn {
    width: 57px;
    height: 13px;
    background-image: url(../images/icon/goWinner_icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: background .1s;
}
.main_page .compt_infoBox .winner a:hover .goWinner_btn {
    background-image: url(../images/icon/goWinner_icon_on.png);
}
.main_page .compt_infoBox .winner a:hover h2 {
    color: #ff9f59;
}
.main_page .compt_infoBox .winner button {
    position: absolute;
    bottom: -2.2333vw;
    left: 0;
    width: 19.6006vw;
    height: 4.4666vw;
    font-size: 1.051vw;
    color: #fff;
    background: #f27214;
    border: none;
}
.main_page .compt_infoBox .winner button:hover {
    background: #e36a12;
}
.main_page .compt_infoBox .winner button img {
    margin: 0 1.051vw;
}
.main_page .compt_infoBox .winner button img:first-child {
    width: 1.051vw;
}

/* 메인 슬라이더 */
.main_page .slider_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50.9196vw;
    overflow: hidden;
    z-index: 0;
}
.main_page .slider_wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    position: absolute; 
    top: 0;
    right: 0;
}
.main_page .slider_item {
    transform: translateY(11.0878vw);
    /* width: 72.1492vw;
    height: 50.9196vw; */
    font-size: 100px;
    text-align: right;
    margin-left: 14.0305vw;
    /* background: pink; */
}
.main_page .slider_item img {
    /* display: none; */
    width: 72.1492vw;
}
.main_page .sliderBtn {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 40%;
    right: 0;
    width: 72.1492vw;
}
.main_page .sliderBtn button {
    background-color: transparent;
    border: none;
    margin: 0 2.1019vw;
}
.main_page .sliderBtn button:hover {
    cursor: pointer;
}
.main_page .sPagination {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    top: 42%;
    right: 73.7782vw;
    width: 12.454vw;
    padding-bottom: 1.5765vw;
    border-bottom: 3px solid #232937;
}
.main_page .sPagination > div {
    width: 0.8408vw;
    height: 0.8408vw;
    margin-left: 0.8408vw;
    background: #d4d7e0;
    border-radius: 100%;
}
.main_page .sPagination > div:last-child {
    margin-right: 0;
}
.main_page .sPagination div.active {
    background-color: #9dc912;
}

/* 아카이빙 */
.main_page .archiving {
    position: relative;
    margin-top: 13.6626vw;
    padding: 5.2549vw 1.5765vw 2.1019vw;
    background-image: url(../images/archiving_bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
}
.main_page .archiving::before {
    content: '';
    position: absolute;
    top: -3.1945vw;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    height: 6.8839vw;
    background: #de7238;
}
.main_page .archiving h1 {
    text-align: center;
    font-size: 3.0478vw;
}
.main_page .archiving .more_btn {
    position: absolute;
    top: 5.2549vw;
    right: 1.5765vw;
    color: #fff;
    padding: 15px 28px;
    background: #232937;
    border: 1px solid #fff;
    border-radius: 0;
}
.main_page .archiving .more_btn img {
    margin-left: 15px;
}
.main_page .archiving .more_btn:hover {
    background: #2f3543;
}
.main_page .arch_list {
    margin-top: 5.7803vw;
}
.main_page .arch_list ul {
    display: flex;
    align-items: start;
    justify-content: space-between;
}
.main_page .arch_list li {
    position: relative;
    width: 16.6666%;
    height: 21.0194vw;
    overflow: hidden;
    margin-right: 1.5765vw;
    border: 1px solid #d4d4d4;
    box-sizing: border-box;
}
.main_page .arch_list li img {
    height: 100%;
    transition: transform .8s;
}
.main_page .arch_list li:last-child {
    margin-right: 0;
}
.main_page .arch_list li:nth-child(2n) {
    height: 15.2391vw;
}
.main_page .arch_list ul:last-child {
    align-items: end;
    transform: translateY(-4.2039vw);
}
.main_page .arch_list ul:last-child li {
    height: 15.2391vw;
}
.main_page .arch_list ul:last-child li:nth-child(2n) {
    height: 21.0194vw;
}
.main_page .arch_list .text_wrap {
    /* display: none; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    height: 100%;
    font-size: 1.051vw;
    color: #fff;    
    background: rgba(0, 0, 0, 0.35);
    opacity: 0;
    transition: opacity .3s;
    z-index: 3;
}
.main_page .arch_list .text_wrap h4 {
    padding: 2.3647vw 1.5765vw 0;
}
.main_page .arch_list .text_wrap p {
    text-align: right;
    font-size: 13px;
    padding: 0 1.5765vw 1.5765vw;
}
.main_page .arch_list li:hover img {
    transform: scale(1.1);
}
.main_page .arch_list li:hover .text_wrap {
    opacity: 1;
}

/* 푸터 */
footer {
    position: relative;
    font-size: 0.7882vw;
    padding: 35px 0 62px;
    background: #232937;
}
footer .footer_menu {
    display: flex;
    justify-content: center;
    color: #ff8d3a;
}
footer .footer_menu li {
    padding: 0 1.051vw;
}
footer .footer_menu li:first-child {
    border-right: 1px solid #575b6d;
}
footer .footer_menu li:last-child {
    border-left: 1px solid #575b6d;
}
footer .companyInfo {
    display: flex;
    justify-content: center;
    color: #fff;
    margin-top: 1.2612vw;
}
footer .companyInfo li:first-child {
    margin-right: 1.9968vw;
}
footer .copyright {
    text-align: center;
    color: #fff;
    margin-top: 0.5255vw;
}
footer select {
    position: absolute;
    top: 2.1019vw;
    right: 5.8854vw;
    width: 11.0352vw;
    height: 2.3647vw;
    font-size: 0.7882vw;
    padding: 0 1.2086vw;
}