* {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
button {
    display: flex;
    align-items: center;
    justify-content: center;
}
button:hover {
    cursor: pointer;
}

/* 메인 페이지 */
.main_page header {
    position: relative;
    width: 27.8508vw;
    /* height: 23.4367vw; */
    height: 50.9196vw;
    z-index: 1;
}
/* 메인 페이지 메뉴 */
.main_page nav {
    display: flex;
    /* position: relative; */
    width: 27.8508vw;
}
.main_page nav .nav_left {
    width: 13.8203vw;
}
.main_page nav .nav_right {
    width: 14.0305vw;
}
.main_page nav .logo {
    margin-top: 1.8917vw;
    margin-left: 2.6274vw;
}
.main_page nav .logo img {
    width: 7.0941vw;
}
.main_page nav .sub_menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 3.6784vw;
}
.main_page nav .sub_menu a {
    display: flex;
    align-items: center;
}
.main_page nav .sub_menu img {
    width: 12px;
}
.main_page nav .language {
    margin-left: 1.0510vw;
}
.main_page nav .language a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.3121vw;
    height: 1.7867vw;
    font-size: 13px;
    color: #fff;
    background: #9dc912;
}
.main_page nav .nav_right ul {
    padding-right: 1.8392vw;
}
.main_page nav .top_menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 13px;
    margin-top: 0.8933vw;
}
.main_page nav .top_menu li:not(:last-child) {
    margin-right: 15px;
}
.main_page nav .top_menu a {
    display: flex;
    align-items: center;
}
.main_page nav .top_menu img {
    width: 12px;
    margin-right: 5px;
}
.main_page nav .main_menu {
    text-align: right;
    /* font-size: 20px; */
    font-size: 1.051vw;
    margin-top: 6.3058vw;
}
.main_page nav .main_menu li:not(:last-child) {
    margin-bottom: 1.7867vw;
}
.main_page nav .main_menu li:hover {
    color: #f27214;
}

/* 메인 페이지 공모 정보박스 */
.main_page .compt_infoBox {
    display: flex;
    position: absolute;
    bottom: 0;
    bottom: -7.1992vw;
    left: 5.4651vw;
    color: #fff;
}
/* 메인 페이지 공모 마감일정 */
.main_page .compt_infoBox .d_day {
    position: relative;
    width: 22.3857vw;
    padding-top: 3.6784vw;
    background: #232937;
    border-bottom: 5.2549vw solid #232937;
}
.main_page .compt_infoBox .dDay_list {
    height: 22.701vw;
    overflow-y: scroll;
    margin: 0 0.5255vw;
}
.main_page .compt_infoBox .dDay_list li {
    position: relative;
    padding: 2.6274vw 2.1019vw;
}
.main_page .compt_infoBox .dDay_list li:first-child {
    padding-top: 0;
}
.main_page .compt_infoBox .dDay_list li::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 2.1019vw;
    width: 20px;
    height: 3px;
    background: #fff;
}
.main_page .compt_infoBox .dDay_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main_page .compt_infoBox .dDay_title h3 {
    font-size: 2.1019vw;
    color: #ff9f59;
}
.main_page .compt_infoBox .dDay_title span {
    font-size: 0.7882vw;
    color: #f4ffe5;
}
.main_page .compt_infoBox .dDay_title strong {
    color: #ff9f59;
    margin-right: 0.6831vw;
}
.main_page .compt_infoBox .d_day p {
    font-size: 1.0510vw;
    margin-top: 2.1019vw;
}
.main_page .compt_infoBox .d_day button {
    position: absolute;
    top: -1.5765vw;
    right: 0;
    width: 3.1529vw;
    height: 3.1529vw;
    background: #a5cb0b;
    border: none;
}
.main_page .compt_infoBox .d_day button img {
    width: 1.5765vw;
}
/* 메인 페이지 공모 우승팀 */
.main_page .compt_infoBox .winner {
    position: relative;
    width: 36.6789vw;
    padding: 3.4157vw 3.1529vw;
    background: rgba(35, 41, 55, 0.7);
    border-bottom: 7.3568vw solid #232937;
}
.main_page .compt_infoBox .winner a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.main_page .compt_infoBox .winner h2 {
    font-size: 2.5223vw;
}
.main_page .compt_infoBox .winner_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main_page .compt_infoBox .winner p {
    /* font-size: 0.9459vw; */
    font-size: 18px;
}
.main_page .compt_infoBox .goWinner_btn {
    width: 57px;
    height: 13px;
    background-image: url(../images/icon/goWinner_icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: background .3s;
}
.main_page .compt_infoBox .winner a:hover .goWinner_btn {
    background-image: url(../images/icon/goWinner_icon_on.png);
}
.main_page .compt_infoBox .winner button {
    position: absolute;
    bottom: -2.2333vw;
    left: 0;
    width: 19.6006vw;
    height: 4.4666vw;
    font-size: 1.051vw;
    color: #fff;
    background: #f27214;
    border: none;
}
.main_page .compt_infoBox .winner button img {
    margin: 0 1.051vw;
}
.main_page .compt_infoBox .winner button img:first-child {
    width: 1.051vw;
}

/* 메인 슬라이더 */
.main_page .slider_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50.9196vw;
    overflow: hidden;
    z-index: 0;
}
.main_page .slider_wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    position: absolute; 
    top: 0;
    right: 0;
}
.main_page .slider_item {
    transform: translateY(11.0878vw);
    font-size: 100px;
    text-align: right;
    margin-left: 14.0305vw;
}
.main_page .slider_item img {
    width: 72.1492vw;
}
.main_page .sliderBtn {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 40%;
    right: 0;
    width: 72.1492vw;
}
.main_page .sliderBtn button {
    background-color: transparent;
    border: none;
    margin: 0 2.1019vw;
}
.main_page .sliderBtn button:hover {
    cursor: pointer;
}
.main_page .sPagination {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    top: 42%;
    right: 73.7782vw;
    width: 12.454vw;
    padding-bottom: 1.5765vw;
    border-bottom: 3px solid #232937;
}
.main_page .sPagination > div {
    width: 0.8408vw;
    height: 0.8408vw;
    margin-left: 0.8408vw;
    background: #d4d7e0;
    border-radius: 100%;
}
.main_page .sPagination > div:last-child {
    margin-right: 0;
}
.main_page .sPagination div.active {
    background-color: #9dc912;
}

/* 아카이빙 */
.main_page .main_page .archiving {
    position: relative;
    margin-top: 13.6626vw;
    padding: 5.2549vw 1.5765vw;
    background-image: url(../images/archiving_bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
}
.main_page .main_page .archiving::before {
    content: '';
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 1px;
    height: 6.8839vw;
    background: #de7238;
}
.main_page .main_page .archiving h1 {
    text-align: center;
    font-size: 3.0478vw;
}
.main_page .main_page .archiving .more_btn {
    position: absolute;
    top: 5.2549vw;
    right: 1.5765vw;
    color: #fff;
    padding: 15px 28px;
    background: #232937;
    border: 1px solid #fff;
    border-radius: 0;
}
.main_page .archiving .more_btn img {
    margin-left: 15px;
}
.main_page .arch_list {
    margin-top: 5.7803vw;
}
.main_page .arch_list ul {
    display: flex;
    align-items: start;
    justify-content: space-between;
}
.main_page .arch_list li {
    width: 16.6666%;
    height: 400px;
    overflow: hidden;
    margin-right: 1.5765vw;
    border: 1px solid #d4d4d4;
}
.main_page .arch_list li img {
    width: 100%;
    transition: transform 1.2s;
}
.main_page .arch_list li:hover img {
    transform: scale(1.1);
}
.main_page .arch_list li:last-child {
    margin-right: 0;
}
.main_page .arch_list li:nth-child(2n) {
    height: 290px;
}
.main_page .arch_list ul:last-child {
    align-items: end;
    transform: translateY(-4.2039vw);
}
.main_page .arch_list ul:last-child li {
    height: 290px;
}
.main_page .arch_list ul:last-child li:nth-child(2n) {
    height: 400px;
}
