
.tableType06 {
	border-top:1px solid #CCCCCC;
	font-size:11px;
	width:100%;
}

.tableType06 tr {
	height:28px;
}

.tableType06 th {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:#F0F4F6 none repeat scroll 0 0;
	border-bottom:1px solid #FFFFFF;
	border-right:1px solid #FFFFFF;
	color:#317BB1;
	font-weight:bold;
	padding-right:10px;
	text-align:right;
	vertical-align:middle;
	}
	.tableType06 th.last {
	border-bottom:1px solid #EAEAEA;
	}
	.tableType06 th span.v {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:transparent url(../images/img_v.gif) no-repeat scroll 0 0;
	padding-left:10px;
}
.tableType06 td {
	border-bottom:1px solid #EAEAEA;
	padding-left:7px;
	text-align:left;
}

.tableType06.title {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:#F0F4F6 none repeat scroll 0 0;
	border-bottom:1px solid #FFFFFF;
	border-right:1px solid #FFFFFF;
	color:#317BB1;
	font-weight:bold;
	padding-right:10px;
	text-align:center;
	vertical-align:middle;
	}
	.tableType06 th.last {
	border-bottom:1px solid #EAEAEA;
	}
	.tableType06 th span.v {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:transparent url(../images/img_v.gif) no-repeat scroll 0 0;
	padding-left:10px;
}

.tableType05 {
	border-top:1px solid #317BB1;
	width:100%;
}
.tableType05 th {
	background-color:#F2F2F2;
	border-bottom:1px solid #EAEAEA;
	height:28px;
	padding-top:3px;
}



body, td, p, input, button, textarea, select, .c1 { font-family:Tahoma,굴림; font-size:9pt; color:#222222; }

/* Jeong, Chan Myeong | http://naradesign.net/ */

/* Button Common */
.button,
.button *{ position:relative; margin:0; padding:0; display:-moz-inline-stack; display:inline-block; text-decoration:none !important; border:0; font-size:12px; font-family:Tahoma, Sans-serif; white-space:nowrap; background:url(./img/button.gif) no-repeat; vertical-align:top; overflow:visible; color:#333;}
.button { margin-right:1px;}
.button *{ left:1px; cursor:pointer; _cursor:hand;}

.button a:link { font-size:12px; font-family:Tahoma, Sans-serif;text-decoration:none !important; border:0;  white-space:nowrap;  vertical-align:top; color:#333;line-height:210%;} /* Primary Link */
.button a:visited {text-decoration:none !important; border:0; font-size:12px; font-family:Tahoma, Sans-serif; white-space:nowrap;  vertical-align:top; color:#353535;line-height:210%}
.button a:hover {text-decoration:none !important; border:0; font-size:12px; font-family:Tahoma, Sans-serif; white-space:nowrap;  vertical-align:top; color:#0099cc;line-height:210%}

.button.small a:link { font-size:12px; font-family:Tahoma, Sans-serif;text-decoration:none !important; border:0;  white-space:nowrap;  vertical-align:top; color:#333;line-height:180%;} /* Primary Link */
.button.small a:visited {text-decoration:none !important; border:0; font-size:12px; font-family:Tahoma, Sans-serif; white-space:nowrap;  vertical-align:top; color:#353535;line-height:180%}
.button.small a:hover {text-decoration:none !important; border:0; font-size:12px; font-family:Tahoma, Sans-serif; white-space:nowrap;  vertical-align:top; color:#0099cc;line-height:180%}

/* Button Size = medium | large | xLarge | small */
.button.medium, .button.medium *{ height:24px; line-height:24px;}
.button.large, .button.large *{ height:30px; line-height:30px;}
.button.xLarge, .button.xLarge *{ height:36px; line-height:36px;}
.button.small, .button.small *{ height:19px; line-height:19px;}
.button.medium { background-position:left 0;}
.button.large { background-position:left -30px;}
.button.xLarge { background-position:left -65px;}
.button.small { background-position:left -106px;vertical-align:middle}
.button.medium *{ padding:0 10px 0 6px; font-size:12px; background-position:right top;}
.button.large *{ padding:0 10px 0 6px; font-size:16px; background-position:right -30px;}
.button.xLarge *{ padding:0 10px 0 6px; font-size:20px; background-position:right -65px;}
.button.small *{ padding:0 6px 0 2px; font-size:11px; background-position:right -106px;}

/* Button Hover */
.button *:hover,
.button *:active,
.button *:focus{ color:#690;}

/* Button Strong */
.button.strong *{ font-weight:bold !important;}

/* Button Icon Variation */
.button.icon *{ padding-left:20px;}
.button.small.icon *{ padding-left:16px;}
.button.icon span{ width:20px; margin-right:-20px; padding:0 !important;}
.button.medium .check{ background-position:4px -150px;}
.button.large .check{ background-position:4px -146px;}
.button.xLarge .check{ background-position:5px -144px;}
.button.small .check{ background-position:3px -153px;}
.button.medium .add{ background-position:-16px -150px;}
.button.large .add{ background-position:-14px -146px;}
.button.xLarge .add{ background-position:-14px -144px;}
.button.small .add{ background-position:-18px -153px;}
.button.medium .delete{ background-position:-34px -150px;}
.button.large .delete{ background-position:-34px -146px;}
.button.xLarge .delete{ background-position:-34px -144px;}
.button.small .delete{ background-position:-37px -153px;}
.button.medium .calendar{ background-position:-56px -150px;}
.button.large .calendar{ background-position:-56px -146px;}
.button.xLarge .calendar{ background-position:-56px -144px;}
.button.small .calendar{ background-position:-59px -153px;}
.button.medium .refresh{ background-position:-76px -150px;}
.button.large .refresh{ background-position:-76px -146px;}
.button.xLarge .refresh{ background-position:-76px -144px;}
.button.small .refresh{ background-position:-79px -153px;}



.b01 {background-color:#7C9FD3;width:3px;height:3px;vertical-align:middle;margin-right:3px;}
.b02 {background-color:#7C9FD3;width:7px;height:7px;vertical-align:middle;margin-right:3px;border-top:6px solid #456FAF;}
.b03 {background-color:#456FAF;width:6px;height:7px;vertical-align:middle;border-top:6px solid #7C9FD3;}
.b04 {background-color:#7C9FD3;width:6px;height:7px;vertical-align:middle;border-top:6px solid 

/*
css 버튼 사용예
<span class="button medium strong icon"><span class="delete"></span><a href="javascript:deleteConsult('<?=$row['cs_no']?>');">삭제</a></span>
<span class="button medium strong icon"><span class="check"></span><a href="javascript:document.searchForm.submit();">검색</a></span>
*/